@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

/*
found off of https://designpixie.com/blogs/creative-design-ideas/pastel-color-palettes-with-color-codes?srsltid=AfmBOorUbo-bZ23RzEtNaseFzryLOdglhSVMHgxR_o526uULcT7bhnbn
#ACC791
#FBC5BB
#ECECEC
#BFC1CE
#F1B3A4
#F9E4E0
/*

* {
  box-sizing: border-box;

  font-family: "DM Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
}
